.gallery-item img{
    width: 200px;
    height: auto;
}
.gallery-item{
    float:left;
    border: 3px solid #ddd;
    margin: 10px;
}
.item-desc{
padding: 10px;
}
.gallery-item:hover{
transform: scale(1.04);
transition: all ease-in-out 0.2s;
}