ul{ 
    list-style-type: upper-alpha;
    border:2px dotted pink;
    color: bisque;
    font-family:cursive;
    list-style-image: url(./2.avif);
    list-style-position: inside;

}
ul li{border:1px solid rgb(red, green, blue)}
ol{
    border:02px dotted  pink;
    color:(srgb red green blue);
    font-family:cursive;
}
.ol{list-style-type: 1;}
table tbody>tr:nth-child(odd){
    background-color:rgb(199, 217, 241);
   color:black;
   }
   table tbody>tr:nth-child(even){
       background-color:rgb(180, 245, 223);
       color:black;
   }
   td,th {border:solid 2px ;}
   div{ width: 300px;
   height:200px;
   background-color: rgb(236, 4, 178);
   overflow:scroll;}
