ul#select li{
    background-color: lightgrey;
    margin-bottom: 15px;
    padding: 20px;
    color: white;
    list-style-type: none;
}

ul#select{
    padding: 0;

}
ul#select .ui-selecting{
    background-color: orange;
}

ul#select .ui-selected{
    background-color: orangered;
}

ul#select li{
    background-color: blue;
    margin-bottom: 15px;
    padding: 15px;
    color: white;
    list-style-type: none;
}
.flex{
    display: flex;
    justify-content: space-evenly;
}

ul#sort2 li{
    background-color: green;
    margin-bottom: 15px;
    padding: 15px;
    color: white;
    list-style-type:none ;
}
ul#sort li{
    background-color: red;
    margin-bottom: 15px;
    padding: 15px;
    color: white;
    list-style-type: none;
}

ul#sort1, ul#sort2 {
    background-color: lightgrey;
    padding: 30px;
}
ul#select2 li{
    background-color: lightgrey;
    margin: 15 px;
    padding: 20px;
    color: white;
    list-style-type: none;
    width: 300px;
    height: 300px;
}

ul#select2{
    padding: 0;
    display: flex;
    flex-wrap:wrap ;
}
ul#select2 .ui-selecting{
    background-color: pink;
}
ul#select2 .ui-selected{
    background-color: lightpink;
}
