.text-style{
    color: green;
    letter-spacing: 3px;
    word-spacing: 10px;
    font-size: 40px;
    font-weight: 400;
    text-align: center;
    font-family: "italika"
    
}
.text{
    color: red;
    letter-spacing: 2px;
    text-decoration: overline;
    text-decoration: underline;
    text-align: center;
    
    
}
@font-face{
    font-family:"italika";
    src: url(./fonts/EduAUVICWANTArrows-SemiBold.ttf)
}
.material-icons{
    color: red;
    font-size: 570PX !important;
    
}