#section-1{
    display: flex;
    background-color: #87509c;
    justify-content: space-between;
}
.nav ul li{
 display: inline-block ;}

#text1{
    display: flex;
    padding-top: 200px;
    font-size: 60px;
    color: red;
}
#cuda{
     font-size: 100px;
}